// pallete
$bodyBgc: #17181a;
$textColor: #ffffff;
$navBarTxtCol: #000000;

$throwbackCol: rgb(78, 81, 241);
$schedualcol: rgb(255, 102, 242);
$ticketscol: rgb(151, 51, 218);

// borders
$borderStyle: solid 2px white;

// text sizes
$normaltxS: 1.5rem;
$navDescH3: 5rem;
$logo: 2.5rem;
$h1Size: 5rem;
$h2Size: 3rem;
$h3Size: 2rem;

$navBoxH2: 5rem;
$navBoxTxt: 1.5rem;

$ThrowTxtSz: 2.5rem;
$ThrowH1Sz: 5rem;
